header{
    background-color:black;
    height: 50px;
}
.itemMenu{
    text-decoration:none;
}

nav{
    height: 100%;
}
ul{
    display:flex;
    list-style: none;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}